/* primary */

.primary-btn {
  background: var(--primary);
  color: var(--gray-10);
  cursor: pointer;
  font-size: 1rem;
  padding: 7px 13px;
  border: 0;
  transition: all 0.5s;
  border-radius: 5px;
  width: auto;
  position: relative;
  margin-top: -3px;
}
.primary-btn:hover {
  background: var(--secondary);
  transition: all 0.5s;
  border-radius: 5px;
  box-shadow: 0px 6px 15px #0000ff61;
  padding: 7px 15px;
}
.primary-btn:hover::after {
  opacity: 1;
  transition: all 0.5s;
}

.primary-btn:focus {
  outline: 0;
}

/* secondary */

.danger-btn {
  background: var(--danger);
  color: var(--gray-10);
  cursor: pointer;
  font-size: 1rem;
  padding: 7px 13px;
  border: 0;
  transition: all 0.5s;
  border-radius: 5px;
  width: auto;
  position: relative;
  margin-top: -3px;
}
.danger-btn:hover {
  background: var(--danger);
  transition: all 0.5s;
  border-radius: 5px;
  box-shadow: 0px 6px 15px #0000ff61;
  padding: 7px 15px;
}
.danger-btn:hover::after {
  opacity: 1;
  transition: all 0.5s;
}

.danger-btn:focus {
  outline: 0;
}

/* secondary */

.default-btn {
  background: var(--default);
  color: var(--gray-80);
  cursor: pointer;
  font-size: 1rem;
  padding: 7px 13px;
  border: 0;
  transition: all 0.5s;
  border-radius: 5px;
  width: auto;
  position: relative;
  margin-top: -3px;
}
.default-btn:hover {
  background: var(--default);
  transition: all 0.5s;
  border-radius: 5px;
  box-shadow: 0px 6px 15px #0000ff61;
  padding: 7px 15px;
}
.default-btn:hover::after {
  opacity: 1;
  transition: all 0.5s;
}

.default-btn:focus {
  outline: 0;
}
