.engg-wrapper {
  display: grid;
  grid-template-columns: 3fr 7fr 4fr;
  grid-template-areas:
    "engg-sidebar engg-header engg-header engg-header"
    "engg-sidebar engg-content-header engg-content-header engg-content-header"
    "engg-sidebar engg-content-body engg-content-quick-links .";
  grid-row-gap: 0.5rem;
  grid-column-gap: 0.5rem;
  grid-template-rows: 61px 42px;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

.engg-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: engg-header;
  background-color: var(--bg-color-2);
  box-shadow: var(--box-shadow-1);
  color: var(--gray-90);
  padding-left: 5px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 1.1rem;
  /* overflow: visible; */
}

.engg-header .number {
  background: var(--bg-color-1);
  border-radius: 50%;
  color: var(--gray-70);
  height: 35px;
  line-height: 35px;
  width: 35px;
  text-align: center;
  margin-right: 10px;
}

.engg-sidebar {
  grid-area: engg-sidebar;
  overflow: auto;
  border-right: 1px solid var(--gray-30);
  overflow: scroll;
  height: 100vh;
  position: sticky;
  top: 0;
}

.engg-content-body {
  grid-area: engg-content-body;
}

.engg-content-quick-links {
  grid-area: engg-content-quick-links;
}

.comment-sec {
  grid-area: comment-sec;
  padding-right: 5px;
}

.sidebar-header {
  background-color: var(--bg-color-2);
  box-shadow: var(--box-shadow-1);
  color: var(--gray-90);
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center; 
  flex-direction: row;
  font-size: 1.1rem;
  z-index: 1006;
  position: sticky;
  top: 0;
}

.sidebar-header .icon {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.3rem;
  cursor: pointer;
}

.sidebar-body {
  z-index: 1005;
}

.sidebar-body ul li {
  border-top: 1px solid var(--gray-30);
  background-color: var(--bg-color-2);
  list-style: none;
}

.sidebar-body li a {
  display: flex;
  align-items: center; 
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  color: var(--gray-80);
  font-size: 1rem;
}

.sidebar-body .chapter-number {
  background: var(--bg-color-1);
  border-radius: 50%;
  color: var(--gray-70);
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

.sidebar-body ul li.active .chapter-number {
  background-color: var(--bg-color-3);
  border-radius: 50%;
  color: var(--gray-10);
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid var(--bg-color-3);
  transition: 0.3s;
}

.sidebar-body ul li:hover .chapter-number {
  background-color: var(--bg-color-3);
  border-radius: 50%;
  color: var(--gray-10);
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid var(--bg-color-3);
  transition: 0.3s;
}

.sidebar-body ul li:hover {
  background-color: var(--bg-color-1)
}

.sidebar-body ul li.active {
  background-color: var(--bg-color-1)
}

.engg-content-header {
  background-color: var(--bg-color-2);
  grid-area: engg-content-header;
  box-shadow: var(--box-shadow-1);
  padding: 8px;
  z-index: 1006;
  position: sticky;
  top: 0;
}

.engg-content-header-links {
  position: relative;
}

.engg-content-header-links ul {
  margin-bottom: 0 !important;  
}

.engg-content-header-links ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.engg-content-header-links li{
  list-style: none;  
  margin-right: 10px;
}

.engg-content-header-links li a{
  padding-bottom: 11px;
  cursor: pointer;
}

.engg-content-header-links li a{
  padding-bottom: 11px;
  cursor: pointer;
}

.engg-content-header-links ul li a.text-links {
  text-decoration: none;
  color: black;
  font-size: 0.97rem;
  animation: 0.3s ease-in;
}

.engg-content-header-links ul li a:hover {
  text-decoration: none;
  color: var(--secondary);
  padding-bottom: 11px;
  font-size: 1rem;
  border-bottom: 3px solid;
}

.engg-content-header-links ul li.active a {
  text-decoration: none;
  color: var(--secondary);
  padding-bottom: 11px;
  font-size: 1rem;
  border-bottom: 3px solid;
}


.subject-content .col-sm-4 {
  padding-left: 10px;
  padding-right: 10px;
}

.quick-links-wrapper {
  background-color: var(--bg-color-2);
  box-shadow: var(--box-shadow-1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: sticky;
  top: 50px;
}

.quick-links-wrapper .quick-links-header {
  background-color: var(--bg-color-3);
  text-align: center;
  padding: 15px;
  color: var(--gray-10);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
}

.quick-links-wrapper .quick-links-body {
  padding: 10px;
}

.quick-links-wrapper .quick-links-body ul li {
  margin-bottom: 5px;
  display: flex;
  align-items: baseline;
}

.quick-links-wrapper .quick-links-body ul li span.link-number {
  background-color: var(--bg-color-1);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: var(--gray-70);
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-right: 5px;
  text-align: center;
  width: 35px;
}

.quick-links-wrapper .quick-links-body ul li a {
  text-decoration: none;
  color: var(--gray-70);
  font-size: 0.9rem;
}

.quick-links-wrapper .quick-links-body ul li a:hover {
  text-decoration: none;
  color: var(--gray-80);
  font-size: 0.95rem;
  transition: 0.3s;
}

.cus-spinner {
  margin-right: 10px;
}

.cus-spinner .text-primary {
  color: var(--primary);
}

.put-scroll-effect {
  overflow: scroll;
  height: 100vh;
}

.shimmerBackground {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--bg-color-2);
  padding: 0px 5px;
}