.subject-full-height {
  height: 100vh;
  overflow: hidden;
}

.subject-full-height .col-3 {
  padding-right: 0;
  padding-left: 0;
}

.subject-full-height .col-1 {
  padding-right: 0;
  padding-left: 0;
}

.subject-wrapper .row {
  margin-left: 0;
  margin-right: 0;
}

.content-height {
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.content-height::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.chapter-list {
  background-color: var(--bg-color-2);
  box-shadow: var(--box-shadow-1);
}

.chapter-list-container {
  width: 100%;
}

.chapter-list-container .chapter-list-header {
  background-color: var(--bg-color-2);
  height: 50px;
  line-height: 50px;
  /* text-align: center; */
  color: var(--gray-90);
  font-size: 1.1rem;
  position: sticky;
  top: 0;
  box-shadow: var(--box-shadow-1);
  z-index: 1006;
  border-right: 1px solid var(--gray-30);
  padding-left: 25px;
}

.chapter-list-container .back-button{
  margin-right: 20px;
  font-size: 1.3rem;
  cursor: pointer;
}

.chapter-list-body {
  z-index: 1005;
}

.chapter-list-body .custom-card-body-chapter {
  display: flex;
  align-items: center;
}

.chapter-list-body ul {
  border: 1px solid var(--gray-30);
}

.chapter-list-body ul li {
  height: 65px;
  line-height: 65px;
  border-top: 1px solid var(--gray-30);
}

.chapter-number span.chapter-number {
  background: var(--bg-color-1);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: var(--gray-70);
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  margin-right: 15px;
  text-align: center;
  width: 40px;
}

.chapter-list-body ul li:hover {
  background-color: var(--bg-color-1);
}

.chapter-list-body ul li.active {
  background-color: var(--bg-color-1);
}

.chapter-list-body ul li:hover span.chapter-number {
  background-color: var(--bg-color-3);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: var(--gray-10);
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  margin-right: 15px;
  text-align: center;
  width: 40px;
  transition: 0.3s;
  border: 1px solid var(--bg-color-3);
}

.chapter-list-body ul li.active span.chapter-number {
  background-color: var(--bg-color-3);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: var(--gray-10);
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  margin-right: 15px;
  text-align: center;
  width: 40px;
  transition: 0.3s;
  border: 1px solid var(--bg-color-3);
}

.chapter-list-body li a {
  display: block;
  display: flex;
  text-decoration: none;
  color: var(--gray-80);
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 10px;
}

.chapter-list-body li a:hover {
  display: block;
  display: flex;
  text-decoration: none;
  color: var(--gray-80);
  font-size: 1.05rem;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.3s;
}

.chapter-list-body li a.actives {
  display: block;
  display: flex;
  text-decoration: none;
  color: var(--gray-80);
  font-size: 1.05rem;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.3s;
}

.content-main-header {
  background-color: var(--bg-color-2);
  height: 50px;
  line-height: 50px;
  color: var(--gray-90);
  font-size: 1.1rem;
  position: sticky;
  top: 0;
  box-shadow: var(--box-shadow-1);
  z-index: 1006;
  padding-left: 10px;
  padding-right: 10px;
}

.subject-full-height .col-9 {
  padding-right: 0;
  padding-left: 0;
}

.content-subheader {
  margin: 10px;
  position: sticky;
  top: 0;
}

.subject-content {
  z-index: 1006;
}

.content-subheader .content-main-header {
  display: flex;
  justify-content: space-between;
}

.content-subheader {
  z-index: 1020;
}

.content-main-header ul {
  display: flex;
}

.content-main-header ul li {
  list-style: none;
  margin-right: 15px;
}

.content-main-header ul li a.text-links {
  text-decoration: none;
  color: black;
  font-size: 0.97rem;
}

.content-main-header ul li a:hover {
  text-decoration: none;
  color: var(--primary);
  padding-bottom: 14px;
  font-size: 1rem;
  transition: 0.3s;
}

.content-main-header ul li.active a {
  text-decoration: none;
  color: var(--secondary);
  padding-bottom: 14px;
  font-size: 1rem;
  border-bottom: 3px solid;
}

.chapter-number-selected span.chapter-number {
  background: var(--bg-color-1);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: var(--gray-80);
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  margin-right: 15px;
  text-align: center;
  width: 40px;
}

/* Content css */
.content-wrapper {
  background-color: var(--bg-color-2);
  box-shadow: var(--box-shadow-1);
  margin-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content-wrapper .content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--gray-30);
  height: 50px;
}

.content-header .chapter-name {
  font-size: 1.2rem;
}

.content-header .chapter-name p{
  margin-bottom: 0 !important;
}

.content-header .icon {
  font-size: 1.2rem;
  transition: 0.3s;
  cursor: pointer;
}

.content-header .icon:hover {
  font-size: 1.3rem;
}

.subject-content .col-sm-8 {
  padding-left: 10px;
  padding-right: 10px;
}

.subject-content .col-sm-11 {
  padding-left: 10px;
  padding-right: 10px;
}

.content-wrapper .content-body {
  padding: 10px;
  border-bottom: 1px solid var(--gray-30);
  color: var(--gray-70);
}

.content-wrapper .content-footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  height: 55px;
}
.content-footer .user-interacted {
  display: flex;
  justify-content: flex-start;
}

.content-footer .user-actions {
  display: flex;
  justify-content: flex-start;
}

.content-footer .user-interacted .icon {
  font-size: 1.2rem;
  margin-right: 10px;
  cursor: pointer;
}

.content-footer .user-interacted .icon:hover {
  font-size: 1.3rem;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.content-footer .user-interacted .count {
  margin-top: 5px;
}

.content-footer .user-actions .icon {
  font-size: 1.2rem;
  margin-top: -2px;
  cursor: pointer;
}

.content-footer .user-actions .icon:hover {
  cursor: pointer;
}

.content-footer .user-actions .text {
  margin-right: 10px;
}

.subject-content .col-sm-4 {
  padding-left: 10px;
  padding-right: 10px;
}

.quick-links-wrapper {
  background-color: var(--bg-color-2);
  box-shadow: var(--box-shadow-1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.quick-links-wrapper .quick-links-header {
  background-color: var(--bg-color-3);
  text-align: center;
  padding: 15px;
  color: var(--gray-10);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
}

.quick-links-wrapper .quick-links-body {
  padding: 10px;
}

.quick-links-wrapper .quick-links-body ul li {
  margin-bottom: 5px;
  display: flex;
  align-items: baseline;
}

.quick-links-wrapper .quick-links-body ul li span.link-number {
  background-color: var(--bg-color-1);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: var(--gray-70);
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-right: 5px;
  text-align: center;
  width: 35px;
}

.quick-links-wrapper .quick-links-body ul li a {
  text-decoration: none;
  color: var(--gray-80);
  font-size: 0.9rem;
}

.quick-links-wrapper .quick-links-body ul li a:hover {
  text-decoration: none;
  color: var(--gray-80);
  font-size: 0.95rem;
  transition: 0.3s;
}